.card{
    width:70rem;
    margin:auto;
}

#idNumber{
    width: 14rem !important;
}
.input-group{
    margin:1rem;
}
.userInfo{
    width:30rem
}
.card-body{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.table {
    width:70rem;
    margin:auto;
}
.finalCard{
    display:flex;
    flex-direction:column;
}
#finalCard {
    margin-top:3rem;
}
.bold{
    font-weight:bold;
}
.center {
    text-align: center;
}